body {
    /*background-color: brown;*/
    margin: 0;
    background-image: url("https://previews.123rf.com/images/eugenesergeev/eugenesergeev1509/eugenesergeev150900235/45072698-colorido-mosaico-de-piedra-con-el-patr%C3%B3n-ca%C3%B3tico-foto-de-fondo-de-textura.jpg");
    background-repeat: repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    background-color: coral;
    height: 100px;
    background-image: url("../assets/images/payloader.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.opcion-nav {
    color: darkblue;
    font-size: 30px;
    text-decoration: none;
}

#hero-home {
    background-color: darkcyan;
    height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url("../assets/images/d9g.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin: 0;
}

#first-paragraph {
    color: black;
    font-size: 20vh;
}